<%include __header.ejs%>
 <div id="main">
   <ul>
     <h3>User Lists:</h3>
     <%for(var i = 0; i < users.length; i++){%>
       <li>Name: <%=users[i].name%></li>
     <%}%>
   </ul>
 </div>
<%include __footer.ejs%>