<%include __header.ejs%>
 <div id="main">
   <h3>登录页</h3>
   <form action="<%=url%>" method="post">
      <p class="error"><%=msg%></p>
      Name: <input type="text" name="username" /><br>
      Password: <input type="password" name="password" /><br>
      <input type="submit" value="Login" />
      <a href="/register">Register</a>
   </form>
 </div>
<%include __footer.ejs%>