<%include __header.ejs%>
 <div id="main">
   <h3>注册页</h3>
   <form action="<%=url%>" method="post">
      <p class="error"><%=msg%></p>
      Name: <input type="text" name="username" /><br>
      Password: <input type="password" name="password" /><br>
	  <input type="submit" value="Register" />
	  <a href="/login">Login</a>
   </form>
 </div>
<%include __footer.ejs%>